@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*--Main body styling */
body {
    background-color: lightgrey;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;;
}

/*--Displays logo correctly on lower screen sizes */
@media only screen and (max-width: 600px) {
    .brand-logo {
        display: contents !important;
        align-content: center;
    }
    body > header > nav > div > a.brand-logo.center.amber-text > i {
        display: contents;
    }
    nav .brand-logo {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
        min-height: 75px;
    }
}

body > header > nav > div > ul {
    margin-top: 30px;
}

/*--Sidenav trigger positioning */
body > header > nav > div > a.sidenav-trigger.left {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-panel {
    padding-left: 0;
    padding-right: 0;
}

.collapsible-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;
}

.btn {
    border-radius: 10px;
}

.btn-small {
    margin-left: 10px;
    border-radius: 10px;
}

main {
flex: 1 0 auto;
}

.page-footer {
    padding: 0;
}