{% extends "base.html" %}
<!--This page lists all games and allows users to edit-->
{% block content %}
    {% for game in games %}

        <div class="row card-panel grey lighten-5">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h4>{{ game.game_name }}</h4>
                    <p>{{ game.game_genre }}</p>
                    <p>{{ game.game_description }}</p>
                    <br>
                </div>
                <div class="col-md-5">
                    <img src="#" alt="" class="image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="#" alt="" class="image-responsive">
                </div>
                <div class="col-md-7">
                    <h4>{{ game.game_name }}</h4>
                    <p>{{ game.game_genre }}</p>
                    <p>{{ game.game_description }}</p>
                    <br>
                </div>

            {% endif %}

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey darken-2 amber-text text-shadow"><i class="fas fa-caret-down"></i>Buttons for Add/Edit review go here</div>
                    <div class="collapsible-body white">
                        <div class="input-field" method="POST" action="{{ url_for('add_review') }}" >
                            <i class="fas fa-pen prefix"></i>
                            <textarea id="review" name="review" class="materialize-textarea validate" required></textarea>
                            <label for="review">Write your review here</label>
                        </div>
                        <!--Submit button-->
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn-medium grey darken-2 amber-text text-shadow">
                                    Submit <i class="fas fa-plus-square right"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}