{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text center-align text-shadow">Add Game</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_game') }}">
            <!-- Game name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix amber-text"></i>
                    <input id="game_name" name="game_name"
                        type="text" class="validate" required>
                    <label for="game_name">Game Name</label>
                </div>
            </div>
            <!-- Game genre -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix amber-text"></i>
                    <input id="game_genre" name="game_genre"
                        type="text" class="validate" required>
                    <label for="game_genre">Game Genre</label>
                </div>
            </div>
            <!-- Game description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix amber-text"></i>
                    <input id="game_description" name="game_description"
                        type="text" class="validate" required>
                    <label for="game_description">Game Description</label>
                </div>
            </div>
            <!-- Game image-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix amber-text"></i>
                    <input id="game_img" name="game_img"
                        type="url" class="validate" required>
                    <label for="game_img">Game Image</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large grey darken-2 amber-text text-shadow">
                        Add Game <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}