{% extends "base.html" %}
<!--This page lists all games and allows users to edit-->
{% block content %}

<h3 class="amber-text darken-2 text-shadow center">Edit Review</h3>

{% for game in games %}

<div class="row card-panel grey lighten-5">

    {% if loop.index % 2 != 0 %}

    <div class="col s12 m7 center">
        <h4>{{ game.game_name }}</h4>
        <p>{{ game.game_genre }}</p>
        <p>{{ game.game_description }}</p>
        <br>
    </div>
    <div class="col s12 m5 center">
        <img src="{{ game.game_img }}" alt="" class="image-responsive" width="200" height="200">
    </div>

    {% else %}

    <div class="col s12 m5 center">
        <img src="{{ game.game_img }}" alt="" class="image-responsive" width="200" height="200">
    </div>
    <div class="col s12 m7 center">
        <h4>{{ game.game_name }}</h4>
        <p>{{ game.game_genre }}</p>
        <p>{{ game.game_description }}</p>
        <br>
    </div>

    {% endif %}
    <div class="row">
        <form method="POST" action="{{ url_for('edit_review') }}" class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey darken-2 amber-text text-shadow">
                        <i class="fas fa-caret-down"></i>Add/Edit review
                        <a href="" class="btn-small green accent-4">Edit</a>
                        <a href="" class="btn-small red lighten-1">Delete</a>
                    </div>
                    <div class="collapsible-body white">
                        <div class="input-field">
                            <i class="fas fa-pen prefix"></i>
                            <textarea id="review" name="review" class="materialize-textarea validate"
                                required></textarea>
                            <label for="review">Edit your review here</label>
                        </div>
                        <!--Submit button-->
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit"
                                    class="btn-medium grey darken-2 amber-text text-shadow waves-effect waves-light">
                                    Edit Review <i class="fas fa-edit right"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}