{% extends "base.html" %}
<!--This page lists all games, with no editing features-->
{% block content %}

<h3 class="text-shadow center">All Games</h3>

    {% for game in games %}

        <div class="row card-panel grey lighten-5">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h4>{{ game.game_name }}</h4>
                    <p>{{ game.game_genre }}</p>
                    <p>{{ game.game_description }}</p>
                    {% for review in reviews %}
                        <p>{{ review.review }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-5">
                    <img src="#" alt="" class="image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="#" alt="" class="image-responsive">
                </div>
                <div class="col-md-7">
                    <h4>{{ game.game_name }}</h4>
                    <p>{{ game.game_genre }}</p>
                    <p>{{ game.game_description }}</p>
                </div>

            {% endif %}

        </div>
    {% endfor %}
{% endblock %}