{% extends "base.html" %}
<!--User profile page-->
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel grey lighten-4" id="profile-card">
            <h3 class="centre-align center amber-text text-darken-2 text-shadow">
                {{username}}'s Profile
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2 center">
        <a href="{{ url_for('all_games') }}" class="btn grey darken-2 amber-text text-shadow">Go to Home Page</a>
    </div>
</div>

{% endblock %}